<htm>
    <head>
        <title>Egenum</title>
        <link rel="icon" type="image/png" href="/images/favicon.ico">
        <meta name="description" content="Egenum | Trouvez l'aide autours de vous">
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <header id="header" class="header">
            <a class="main-title-link" href="/">
                <h1 class="main-title">Egenum</h1>
            </a>
            <div class="header-user-container">
                <i class="header-user-icon" data-feather="user"></i>
                <p id="userName" class="header-user-name"><%= JSON.parse(userData).userName %></p>
                <ul class="header-logout">
                    <li class="header-logout-item">
                        <a href="/" onclick="logout()">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="root-container">
            <div class="main-container flex-centered">
                <h2>Créez une nouvelle entrée</h2>

                <form id="create-form" class="service-form" method="POST" action="/create">

                    <dvi class="service-form-item">
                        <label class="service-form-label">Catégorie : </label>
                        <select class="" name="">
                            <option disabled selected>Catégorie</option>
                            <option id="nourriture" value="NOURRITURE">Nourriture</option>
                            <option id="nourriture" value="NOURRITURE">Vêtements</option>
                            <option id="nourriture" value="NOURRITURE">Soin</option>
                        </select>
                    </dvi>

                    <p class="service-form-group-title">Entité ------------------</p>
                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Nom :</label>
                            <input class="service-form-text" name="nom" type="text" >
                        </div>
                        <div class="service-form-item">
                            <label class="service-form-label">Association :</label>
                            <select>
                                <option selected disabled>Associations</option>
                                <option>Asso 1</option>
                                <option>Asso 2</option>
                                <option>Asso 3</option>
                            </select>
                        </div>
                    </div>

                    <p class="service-form-group-title">Contact ------------------</p>
                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Mail :</label>
                            <input class="service-form-text" name="email" type="email" >
                        </div>
                        <div class="service-form-item">
                            <label class="service-form-label">Téléphone :</label>
                            <input class="service-form-text" name="" type="tel" >
                        </div>
                    </div>
                    

                    <p class="service-form-group-title">Adresse ------------------</p>
                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Numéro de voie :</label>
                            <input class="service-form-number" name="" type="number" >
                        </div>
                        <div class="service-form-item">
                            <label class="service-form-label">Voie :</label>
                            <input class="service-form-text" name="" type="text" >
                        </div>
                    </div>

                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Ville :</label>
                            <input class="service-form-text" name="" type="text" >
                        </div>
                        <div class="service-form-item">
                            <label class="service-form-label">Code Postal :</label>
                            <input class="service-form-number" name="" type="text" minlength="5" maxlength="5" >
                        </div>
                    </div>
                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Latitude :</label>
                            <input class="service-form-number" name="" type="number" >
                        </div>
                        <div class="service-form-item">
                            <label>Longitude :</label>
                            <input class="service-form-number" name="" type="number" >
                        </div>
                    </div>

                    <p class="service-form-group-title">Horaires ------------------</p>
                    <div class="service-form-item">
                        <label class="service-form-label">Lundi :</label>
                        <input class="" name="" type="time" > : <input class="" name="" type="time" > | <input class="" name="" type="checkbox" > Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Mardi :</label>
                        <input class="" name="" type="time" > à <input class="" name="" type="time" > | <input class="" name="" type="checkbox" > Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Mercredi :</label>
                        <input class="" name="" type="time" > à <input class="" name="" type="time" > | <input class="" name="" type="checkbox" > Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Jeudi :</label>
                        <input class="" name="" type="time" > à <input class="" name="" type="time" > | <input class="" name="" type="checkbox" > Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Vendredi :</label>
                        <input class="" name="" type="time" > à <input class="" name="" type="time" > | <input class="" name="" type="checkbox" > Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Samedi :</label>
                        <input class="" name="" type="time" > à <input class="" name="" type="time" > | <input class="" name="" type="checkbox" > Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Dimanche :</label>
                        <input class="" name="" type="time" > à <input class="" name="" type="time" > | <input class="" name="" type="checkbox" > Fermé
                    </div>
                    <!-- </div> -->
                    <p class="service-form-group-title">Lien ------------------</p>
                    <div class="service-form-item">
                        <label class="service-form-label">Site web :</label>
                        <input class="service-form-text" name="" type="url" placeholder="http://...">
                    </div>
                    
                    <input type="submit" class="submit-login" value="Ajouter">
                </form>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        <script src="script.js"></script>
    </body>
</htm>