<htm>
    <head>
        <title>Egenum</title>
        <link rel="icon" type="image/png" href="/images/favicon.ico">
        <meta name="description" content="Egenum | Trouvez l'aide autours de vous">
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <p>Create</p>
    </body>
    <script>
        //window.history.replaceState({}, document.title, "/" + "create");
    </script>
</htm>