<htm>
    <head>
        <title>Egenum</title>
        <link rel="icon" type="image/png" href="/images/favicon.ico">
        <meta name="description" content="Egenum | Trouvez l'aide autours de vous">
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <header id="header" class="header">
            <a class="main-title-link" href="/">
                <h1 class="main-title">Egenum</h1>
            </a>
            <div class="header-user-container">
                <i class="header-user-icon" data-feather="user"></i>
                <p id="userName" class="header-user-name"><%= JSON.parse(userData).userName %></p>
                <ul class="header-logout">
                    <li class="header-logout-item">
                        <a href="/" onclick="logout()">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="root-container">
            <div class="main-container flex-centered">
                <h2>Créez une nouvelle entrée</h2>
                <% if(result !== undefined) { 
                    if(result === true) { %>
                    <h4 class="service-form-result-true">Créée avec succes</h4>
                    <% } else { %>
                    <h4 class="service-form-result-false">Erreur pendant la création</h4>
                    <% }
                } %>

                <form id="create-form" class="service-form" method="POST" action="/create">
                    <p class="service-form-group-title">Catégorie ------------------</p>
                    <div class="service-form-item">
                        <div class="service-form-item">
                            <label class="service-form-label">Nourriture</label>
                            <input type="checkbox" class="service-form-checkbox" name="categories[]" value="NOURRITURE">
                        </div>
                        <div class="service-form-item">
                            <label class="service-form-label">Vêtements</label>
                            <input type="checkbox" class="service-form-checkbox" name="categories[]" value="VETEMENTS">
                        </div>
                        <div class="service-form-item">
                            <label class="service-form-label">Soins</label>
                            <input type="checkbox" class="service-form-checkbox" name="categories[]" value="SOINS">
                        </div>
                    </div>

                    <p class="service-form-group-title">Entité ------------------</p>
                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Nom :</label>
                            <input class="service-form-text" name="nom" type="text" required>
                        </div>
                    </div>
                    

                    <p class="service-form-group-title">Contact ------------------</p>
                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Mail :</label>
                            <input class="service-form-text" name="email" type="email" pattern="">
                        </div>
                        <div class="service-form-item">
                            <label class="service-form-label">Téléphone :</label>
                            <input class="service-form-text" name="" type="tel" >
                        </div>
                    </div>
                    

                    <p class="service-form-group-title">Adresse ------------------</p>
                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Numéro de voie :</label>
                            <input class="service-form-number" name="numero" type="text" required>
                        </div>
                        <div class="service-form-item">
                            <label class="service-form-label">Voie :</label>
                            <input class="service-form-text" name="voie" type="text" required>
                        </div>
                    </div>

                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Ville :</label>
                            <input class="service-form-text" name="ville" type="text" required>
                        </div>
                        <div class="service-form-item">
                            <label class="service-form-label">Code Postal :</label>
                            <input class="service-form-number" name="codeP" type="text" pattern="[0-9]{5}" required>
                        </div>
                    </div>
                    <div class="service-form-group">
                        <div class="service-form-item">
                            <label class="service-form-label">Latitude :</label>
                            <input class="service-form-number" name="latitude" type="text" required>
                        </div>
                        <div class="service-form-item">
                            <label>Longitude :</label>
                            <input class="service-form-number" name="longitude" type="text" required>
                        </div>
                    </div>

                    <p class="service-form-group-title">Horaires ------------------</p>
                    <div class="service-form-item">
                        <label class="service-form-label">Lundi :</label>
                        <input id="lundi_open" name="lundi_hours[]" class=""  type="time" required> : <input id="lundi_close" name="lundi_hours[]" class=""  type="time" require> | <input id="lundi_fermeture" name="lundi_isClosed" class="service-form-checkbox" type="checkbox" value="true" onclick="disableHours('lundi')"> Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Mardi :</label>
                        <input id="mardi_open" name="mardi_hours[]" class=""  type="time" required> : <input id="mardi_close" name="mardi_hours[]" class=""  type="time" required> | <input id="mardi_fermeture" name="mardi_isClosed" class="service-form-checkbox" type="checkbox" value="true" onclick="disableHours('mardi')"> Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Mercredi :</label>
                        <input id="mercredi_open" name="mercredi_hours[]" class=""  type="time" required> : <input id="mercredi_close" name="mercredi_hours[]" class=""  type="time" required> | <input id="mercredi_fermeture" name="mercredi_isClosed" class="service-form-checkbox" type="checkbox" value="true" onclick="disableHours('mercredi')"> Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Jeudi :</label>
                        <input id="jeudi_open" name="jeudi_hours[]" class=""  type="time" required> : <input id="jeudi_close" name="jeudi_hours[]" class=""  type="time" required> | <input id="jeudi_fermeture" name="jeudi_isClosed" class="service-form-checkbox" type="checkbox" value="true" onclick="disableHours('jeudi')"> Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Vendredi :</label>
                        <input id="vendredi_open" name="vendredi_hours[]" class=""  type="time" required> : <input id="vendredi_close" name="vendredi_hours[]" class=""  type="time" required> | <input id="vendredi_fermeture" name="vendredi_isClosed" class="service-form-checkbox" type="checkbox" value="true" onclick="disableHours('vendredi')"> Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Samedi :</label>
                        <input id="samedi_open" name="samedi_hours[]" class=""  type="time" required> : <input id="samedi_close" name="samedi_hours[]" class=""  type="time" required> | <input id="samedi_fermeture" name="samedi_isClosed" class="service-form-checkbox" type="checkbox" value="true" onclick="disableHours('samedi')"> Fermé
                    </div>
                    <div class="service-form-item">
                        <label class="service-form-label">Dimanche :</label>
                        <input id="dimanche_open" name="dimanche_hours[]" class=""  type="time" required> : <input id="dimanche_close" name="dimanche_hours[]" class=""  type="time" required> | <input id="dimanche_fermeture" name="dimanche_isClosed" class="service-form-checkbox" type="checkbox" value="true" onclick="disableHours('dimanche')"> Fermé
                    </div>
                    <!-- </div> -->
                    <p class="service-form-group-title">Lien ------------------</p>
                    <div class="service-form-item">
                        <label class="service-form-label">Site web :</label>
                        <input class="service-form-text" name="website" type="url" placeholder="http://...">
                    </div>
                    
                    <input type="submit" class="submit-login" value="Ajouter">
                </form>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        <script src="script.js"></script>
    </body>
</htm>