<!DOCTYPE html>
<html>
    <head>
        <title>Egenum</title>
        <meta name="description" content="Egenum is ">
        <link rel="stylesheet" href="style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;600&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <h1 class="main-title">Egenum</h1>
        </header>

        <div class="root-container">
            <div class="main-container">
                <form action="/login" method="POST" autocomplete="on" enctype="application/x-www-form-urlencoded"
                    class="form-login">
                    <h4 class="title-login">Connectez-vous</h4>
                    <label class="label-login">Nom d'utilisateur</label>
                    <input class="input-login" id="userName" name="userName" type="text" required>
                    <label class="label-login">Mot de passe</label>
                    <input class="input-login" id="password" name="password" type="password" required>
                    <input class="submit-login" type="submit" value="Se connecter">
                </form>
            </div>
        </div>
        <%if(Object.keys(data).length !== 0) { %>
            <p>Username entered: <%= data.userName %></p>
            <p>password: <%= data.password %></p>
        <% } %>

        <footer class="footer">

        </footer>
    </body>
</html>