<!DOCTYPE html>
<html>
    <head>
        <title>Egenum</title>
        <link rel="icon" type="image/png" href="/images/favicon.ico">
        <meta charset="utf-8">
        <meta name="description" content="Egenum | Trouvez l'aide autours de vous">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link type="text/css" rel="stylesheet" href="style.css">
    </head>
    <body onload="feather.replace();">
        <header class="header">
            <a class="main-title-link" href="/">
                <h1 class="main-title">Egenum</h1>
            </a>
        </header>

        <div class="root-container">
            <div class="main-container flex-centered">
                <form action="/login" method="POST" autocomplete="on" enctype="application/x-www-form-urlencoded"
                    class="form-login">
                    <h4 class="title-login">Connectez-vous</h4>
                    <div class="input-login-row">
                        <label><i id="username-icon" data-feather="user" class="icons-login"></i></label>
                        <input class="input-login" id="username-input" name="userName" type="text" required placeholder="Nom d'utilisateur">
                    </div>
                    <div class="input-login-row">
                        <label><i id="password-icon" data-feather="lock" class="icons-login"></i></label>
                        <input class="input-login" id="password-input" name="password" type="password" required placeholder="Mot de passe">
                    </div>
                    <input class="submit-login" type="submit" value="Se connecter">
                    <% if(Object.entries(errors).length !== 0) { %>
                        <p class="error">Vos identifiants sont invalides</p>
                    <%}%>
                </form>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <script>
            <% if(errors.hasOwnProperty("userName")) { %>
                var userIcon = document.getElementById("username-icon");
                var userInput = document.getElementById("username-input");

                userIcon.classList.add("error");
                userInput.classList.add("error");
            <%}%>

            <% if(errors.hasOwnProperty("password")) { %>
                var pwdIcon = document.getElementById("password-icon");
                var pwdInput = document.getElementById("password-input");

                pwdIcon.classList.add("error");
                pwdInput.classList.add("error");
            <%}%>
        </script>
    </body>
</html>