/** COLORS */
:root {
    --BABY_POWDER: #FDFFFC;
    --SNOW: #FCF7F8;
    --YALE_BLUE: #004E89;
    --RICH_BLACK: #00171F;
    --SWEET_BROWN: #AC3931;
    --MARIGOLD: #ECA400;
    --RUBINE_RED: #D81159;
    --SLATE_GREY: #63768D;
}

body {
    background-color: var(--BABY_POWDER);
    font-family: 'Palanquin Dark', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
p {
    color: var(--RICH_BLACK);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.root-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.main-container {
    width: 50%;
}
.main-title {
    color: var(--SLATE_GREY);
}
.form-login {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.title-login {
    align-self: center;
}
.label-login {
    min-width: 80px;
}
.input-login {
    min-width: 100px;
    border-radius: 6px;
    padding: 6px;
    border: 1px solid var(--YALE_BLUE) ;
}
.submit-login {
    min-width: 70px;
    border-radius: 15px;
    align-self: center;
    margin: 10px 0px;
    padding: 10px 30px;
    background-color: var(--SNOW);
    color: var(--RICH_BLACK);
    border: 1px solid var(--YALE_BLUE);
    transition: background-color .3s ease-out, color .3s ease-in;
}
.submit-login:hover {
    background-color: var(--YALE_BLUE);
    color: var(--BABY_POWDER);
    border: 1px solid var(--YALE_BLUE);
}
.error {
    color: var(--SWEET_BROWN);
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button {
    border: 1px solid var(--RICH_BLACK);
    border-radius: 3px;
    width: 100px;
    height: 30px;
    display: block;
    color: var(--RICH_BLACK);
    background: linear-gradient(to right, var(--YALE_BLUE) 50%, var(--BABY_POWDER) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
  
.button:hover {
    background-position: left bottom;
    border: 1px solid var(--YALE_BLUE);
    color: var(--SNOW);
}
  